# Ignore the backup files created by EAGLE
*.s\#*
*.b\#*
*.l\#*
*.gpi
*.dri
*.zip
*~*
*__pycache__*
*pyc
docs/teensy/*
docs/arduino/*
!docs/teensy/cd.css
!docs/arduino/cd.css
!docs/teensy/Doxyfile
!docs/arduino/Doxyfile

# Vim files
.*.swp
.*.swo
